@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@600&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body {
    background-color: #E5E5E5;
    height: 930px;
    width: 414px;
    margin-top: 0px;
}

.page {
    height: 92px;
    width: 414px;
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(207, 43, 43, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
    margin-left: 21px;
    margin-top: 8px;
    font-family: Righteous;
    font-size: 44px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.text {
    margin-left: 21px;
    margin-top: 5px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.title-second {
    background-color: #E5E5E5;
    margin-left: 19px;
    margin-top: 96px;
    margin-bottom: 17px;
    width: 395px;
    height: 25px;
    font-family: Righteous;
    font-weight: 400;
    font-size: 26px;
    text-align: start;
    color: #333333;
}

.title-second-page {
    margin-left: 19px;
    margin-top: 21px;
    margin-bottom: 17px;
    width: 395px;
    height: 25px;
    font-family: Righteous;
    font-weight: 400;
    font-size: 26px;
    text-align: start;
    color: #333333;
}

div.ex1 {
    /*background:  #E5E5E5;*/
    width: 395px;
    overflow-x: scroll;
}

.menu {
    margin-left: 19px;
    margin-bottom: 16px;
    width: 500px;
    height: auto;
    background: #E5E5E5;
    display: flex;
    overflow-x: scroll;
}

.plate-of-food {
    margin-right: 16px;
    width: 162px;
    height: 206px;
    left: 19px;
    top: 165px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 9px;
    border: 5px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.img-plate-of-food {
    margin: 9px;
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.hide {
    display: none;
}

.icon {
    margin-left: 50px;
    color: #50D074;
}

.plate {
    margin-left: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.description {
    margin-left: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}

.price {
    margin-left: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.select {
    width: 415px;
    height: 92px;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    position: fixed;
}

.finalizar-order-text {
    margin-top: 15px;
    margin-left: 25px;
    border-radius: 50px;
    width: 364px;
    height: 61px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
    background: #CBCBCB;
}

.finalizar-order {
    margin-top: 15px;
    margin-left: 25px;
    border-radius: 50px;
    width: 364px;
    height: 61px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center
}

.confirmação {
    width: 377px;
    height: 353px;
    left: 19px;
    top: 310px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    position: absolute;

}

.confirm-text {
    width: 376px;
    height: 27px;
    margin-left: 19px;
    margin-top: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.div {
    display: flex;
}

.confirm-price {
    width: 97px;
    height: 150px;
    margin-left: 25px;
    margin-top: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 26px;
    text-align: right;
    letter-spacing: 0.018em;
}

.paragrafo {
    margin-bottom: 13px;
}

.confirm-order {
    width: 190px;
    height: 170px;
    margin-left: 26px;
    margin-top: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 26px;
    letter-spacing: 0.018em;
}

.confirm {
    width: 329px;
    height: 52px;
    margin-left: 24px;
    margin-bottom: 1px;
    background: #FFFFFF;
    border-radius: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.cancelar {
    width: 367px;
    height: 53px;
    margin-bottom: 1px;
    margin-left: 5px;
    background: #50D074;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}